Repository tiiuae/ghaf, pull requests merged in 2024-06, with the labels that each got.

#637 Fix a bug: gps location not working, issue SP-4643-lenovo-x-1-loca…
  modules/hardware/lenovo-x1/definitions/default.nix
  packages/element-gps/main.py
Labels: Tested on Lenovo X1 Carbon

#640 Add audio passthrough for audioVM on Lenovo X1 gen10
  modules/hardware/lenovo-x1/definitions/x1-gen10.nix
Labels: Needs Testing

#643 Allow 'priviledge' sys calls for microvm-virtiofsd
  modules/common/systemd/hardened-configs/common/microvm-virtiofsd@.nix
Labels: Tested on Lenovo X1 Carbon

#644 Fix windows-launcher
  packages/windows-launcher/default.nix
Labels: Needs Testing

#645 common: Create options for applications, other fixes
  lib/launcher.nix
  modules/common/default.nix
  modules/common/programs/chromium.nix
  modules/common/programs/default.nix
  modules/common/programs/zathura.nix
  modules/desktop/graphics/demo-apps.nix
  modules/desktop/graphics/labwc.nix
  targets/lenovo-x1/appvms/chromium.nix
  targets/lenovo-x1/appvms/zathura.nix
Labels: Tested on Orin AGX, Tested on Orin NX, Tested on Lenovo X1 Carbon

#584 networking: module for static names
  modules/common/default.nix
  modules/common/networking/default.nix
  modules/common/networking/hosts.nix
  modules/microvm/virtualization/microvm/adminvm.nix
  modules/microvm/virtualization/microvm/appvm.nix
  modules/microvm/virtualization/microvm/audiovm.nix
  modules/microvm/virtualization/microvm/common/vm-networking.nix
  modules/microvm/virtualization/microvm/guivm.nix
  modules/microvm/virtualization/microvm/idsvm/idsvm.nix
  modules/microvm/virtualization/microvm/netvm.nix
  packages/mitmweb-ui/default.nix
  packages/nm-launcher/default.nix
  packages/openPdf/default.nix
  packages/wifi-signal-strength/default.nix
  targets/lenovo-x1/appvms/chromium.nix
  targets/lenovo-x1/appvms/element.nix
  targets/lenovo-x1/guivmExtraModules.nix
  targets/lenovo-x1/netvmExtraModules.nix
Labels: Tested on Orin AGX, Tested on Orin NX, Tested on Lenovo X1 Carbon, Tested on Orin AGX Cross

#658 lenovo-x1: compress image using zstd
  modules/disko/lenovo-x1-disko-basic.nix
  packages/installer/ghaf-installer.sh
  targets/lenovo-x1-installer/flake-module.nix
Labels: Tested on Lenovo X1 Carbon

#657 netvm: do not restart microvm when changed
  modules/microvm/virtualization/microvm/netvm.nix
Labels: Tested on Lenovo X1 Carbon

#662 Refactor net-vm
  modules/common/default.nix
  modules/common/networking/hosts.nix
  modules/common/services/default.nix
  modules/common/services/firmware.nix
  modules/common/services/wifi.nix
  modules/desktop/graphics/default.nix
  modules/desktop/graphics/hardware.nix
  modules/desktop/graphics/waybar.config.nix
  modules/flake-module.nix
  modules/hardware/common/passthru.nix
  modules/microvm/default.nix
  modules/microvm/virtualization/microvm/audiovm.nix
  modules/microvm/virtualization/microvm/modules.nix
  modules/microvm/virtualization/microvm/netvm.nix
  modules/reference/appvms/element.nix
  modules/reference/services/default.nix
  modules/reference/services/dendrite-pinecone/dendrite-config.nix
  modules/reference/services/dendrite-pinecone/dendrite-pinecone.nix
  targets/lenovo-x1/everything.nix
  targets/lenovo-x1/guivmExtraModules.nix
  targets/lenovo-x1/netvmExtraModules.nix
Labels: Tested on Orin AGX, Tested on Orin NX, Tested on Lenovo X1 Carbon, Tested on RISC-V, Tested on Orin AGX Cross, Tested on Orin NX Cross, Needs Testing

#671 guivm: fix crash on lid close
  modules/microvm/virtualization/microvm/guivm.nix
  packages/vsockproxy/default.nix
Labels: Tested on Lenovo X1 Carbon

#672 Refactor guivm
  modules/common/services/default.nix
  modules/common/services/desktop.nix
  modules/common/services/fprint.nix
  modules/common/services/namespaces.nix
  modules/common/services/pdfopen.nix
  modules/hardware/common/default.nix
  modules/hardware/common/devices.nix
  modules/hardware/common/kernel.nix
  modules/hardware/common/qemu.nix
  modules/hardware/definition.nix
  modules/hardware/lenovo-x1/default.nix
  modules/hardware/lenovo-x1/definitions/x1-gen10.nix
  modules/hardware/lenovo-x1/definitions/x1-gen11.nix
  modules/microvm/virtualization/microvm/guivm.nix
  modules/microvm/virtualization/microvm/modules.nix
  modules/reference/appvms/chromium.nix
  modules/reference/appvms/zathura.nix
  modules/reference/programs/chromium.nix
  modules/reference/programs/windows-launcher.nix
  modules/reference/programs/zathura.nix
  targets/generic-x86_64/flake-module.nix
  targets/lenovo-x1/everything.nix
  targets/lenovo-x1/guivmExtraModules.nix
  targets/nvidia-jetson-orin/flake-module.nix
Labels: Tested on Orin AGX, Tested on Orin NX, Tested on RISC-V, Tested on Orin AGX Cross

#673 labwc: enable audio controls, fix wifi status script
  modules/desktop/graphics/labwc.config.nix
  modules/microvm/virtualization/microvm/audiovm.nix
  packages/audio-ctrl/default.nix
  packages/nm-launcher/default.nix
  packages/wifi-signal-strength/default.nix
Labels: Tested on Lenovo X1 Carbon
