Repository tiiuae/ghaf, pull requests merged in 2024-05, with the labels that each got.

#533 Integration of Dendrite to Ghaf
  modules/common/default.nix
  modules/common/services/default.nix
  modules/common/services/dendrite-pinecone.nix
  packages/dendrite-pinecone/default.nix
  targets/lenovo-x1/appvms/default.nix
  targets/lenovo-x1/appvms/element.nix
  targets/lenovo-x1/everything.nix
  targets/lenovo-x1/netvmExtraModules.nix
Labels: Tested on Lenovo X1 Carbon, Tested on Orin AGX Cross

#422 Add IDS-VM as a defensive networking mechanism
  docs/src/SUMMARY.md
  docs/src/architecture/adr.md
  docs/src/architecture/adr/idsvm.md
  docs/src/architecture/architecture.md
  docs/src/img/idsvm.drawio.png
  docs/src/ref_impl/idsvm-development.md
  modules/microvm/default.nix
  modules/microvm/virtualization/microvm/guivm.nix
  modules/microvm/virtualization/microvm/idsvm/idsvm.nix
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/default.nix
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-ca-cert.cer
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-ca-cert.p12
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-ca-cert.pem
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-ca.p12
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-ca.pem
  modules/microvm/virtualization/microvm/idsvm/mitmproxy/mitmproxy-ca/mitmproxy-dhparam.pem
  modules/microvm/virtualization/microvm/netvm.nix
  overlays/custom-packages/default.nix
  overlays/custom-packages/mitmweb-ui/default.nix
  packages/mitmweb-ui/default.nix
  targets/generic-x86_64/flake-module.nix
  targets/lenovo-x1/appvms/default.nix
  targets/lenovo-x1/appvms/gala.nix
  targets/lenovo-x1/everything.nix
  targets/lenovo-x1/guivmExtraModules.nix
  targets/lenovo-x1/netvmExtraModules.nix
  targets/nvidia-jetson-orin/flake-module.nix
Labels: Tested on Lenovo X1 Carbon

#606 openPdf: prevent word splitting when filename contains a space
  modules/microvm/virtualization/microvm/appvm.nix
  targets/lenovo-x1/appvms/chromium.nix
  targets/lenovo-x1/openPdf.nix
Labels: Tested on Lenovo X1 Carbon

#592 guivm: Passthrough the multimedia keys
  modules/desktop/graphics/labwc.nix
  modules/hardware/lenovo-x1/definitions/default.nix
  targets/lenovo-x1/everything.nix
Labels: Tested on Lenovo X1 Carbon

#615 zathura VM: Use regular clipboard instead of primary
  targets/lenovo-x1/appvms/zathura.nix
Labels: Tested on Lenovo X1 Carbon

#611 admin-vm: VM for ghaf administration
  modules/microvm/default.nix
  modules/microvm/virtualization/microvm/adminvm.nix
  targets/lenovo-x1/everything.nix
Labels: Tested on Lenovo X1 Carbon

#576 Initial AudioVM implementation with pipewire and pulseaudio
  modules/hardware/definition.nix
  modules/hardware/lenovo-x1/definitions/default.nix
  modules/hardware/lenovo-x1/definitions/x1-gen10.nix
  modules/hardware/lenovo-x1/definitions/x1-gen11.nix
  modules/microvm/default.nix
  modules/microvm/virtualization/microvm/audiovm.nix
  modules/microvm/virtualization/microvm/guivm.nix
  targets/lenovo-x1/appvms/chromium.nix
  targets/lenovo-x1/appvms/element.nix
  targets/lenovo-x1/audiovmExtraModules.nix
  targets/lenovo-x1/everything.nix
  targets/lenovo-x1/guivmExtraModules.nix
Labels: Needs Testing

#619 systemd service hardening
  docs/src/ref_impl/development.md
  docs/src/ref_impl/systemd-service-config.md
  modules/common/systemd/default.nix
  modules/common/systemd/harden.nix
  modules/common/systemd/hardened-configs/common/NetworkManager-dispatcher.nix
  modules/common/systemd/hardened-configs/common/audit.nix
  modules/common/systemd/hardened-configs/common/dbus.nix
  modules/common/systemd/hardened-configs/common/dnsmasq.nix
  modules/common/systemd/hardened-configs/common/enable-ksm.nix
  modules/common/systemd/hardened-configs/common/firewall.nix
  modules/common/systemd/hardened-configs/common/generate-shutdown-ramfs.nix
  modules/common/systemd/hardened-configs/common/ghaf-session.nix
  modules/common/systemd/hardened-configs/common/install-microvm-netvm.nix
  modules/common/systemd/hardened-configs/common/kmod-static-nodes.nix
  modules/common/systemd/hardened-configs/common/logrotate-checkconf.nix
  modules/common/systemd/hardened-configs/common/logrotate.nix
  modules/common/systemd/hardened-configs/common/microvm-tap-interfaces@.nix
  modules/common/systemd/hardened-configs/common/microvm-virtiofsd@.nix
  modules/common/systemd/hardened-configs/common/microvm@.nix
  modules/common/systemd/hardened-configs/common/network-local-commands.nix
  modules/common/systemd/hardened-configs/common/nscd.nix
  modules/common/systemd/hardened-configs/common/pulseaudio.nix
  modules/common/systemd/hardened-configs/common/rtkit-daemon.nix
  modules/common/systemd/hardened-configs/common/seatd.nix
  modules/common/systemd/hardened-configs/common/systemd-fsck-root.nix
  modules/common/systemd/hardened-configs/common/systemd-journal-catalog-update.nix
  modules/common/systemd/hardened-configs/common/systemd-journal-flush.nix
  modules/common/systemd/hardened-configs/common/systemd-networkd-wait-online.nix
  modules/common/systemd/hardened-configs/common/systemd-random-seed.nix
  modules/common/systemd/hardened-configs/common/systemd-remount-fs.nix
  modules/common/systemd/hardened-configs/common/systemd-rfkill.nix
  modules/common/systemd/hardened-configs/common/systemd-tmpfiles-clean.nix
  modules/common/systemd/hardened-configs/common/systemd-tmpfiles-setup-dev.nix
  modules/common/systemd/hardened-configs/common/systemd-tmpfiles-setup.nix
  modules/common/systemd/hardened-configs/common/systemd-udev-trigger.nix
  modules/common/systemd/hardened-configs/common/systemd-udevd.nix
  modules/common/systemd/hardened-configs/common/systemd-user-sessions.nix
  modules/common/systemd/hardened-configs/common/tpm2-abrmd.nix
  modules/common/systemd/hardened-configs/common/user-runtime-dir@.nix
  modules/common/systemd/hardened-configs/common/vsockproxy.nix
  modules/common/systemd/hardened-configs/common/wpa_supplicant.nix
  modules/common/systemd/hardened-configs/release/NetworkManager.nix
  modules/common/systemd/hardened-configs/release/sshd.nix
  modules/common/systemd/hardened-configs/release/user@.nix
  modules/common/systemd/hardened-configs/template.nix
  modules/microvm/virtualization/microvm/appvm.nix
  modules/microvm/virtualization/microvm/guivm.nix
  modules/microvm/virtualization/microvm/microvm-host.nix
  modules/microvm/virtualization/microvm/netvm.nix
Labels: Tested on Orin AGX, Tested on Orin NX, Tested on Lenovo X1 Carbon, Tested on NUC, Tested on RISC-V, Tested on Orin AGX Cross
